<% obj.each do|suggestion|%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well well-lg">
        <h3><%= link_to suggestion.title, suggestion_path(suggestion)%></h3>
        <div class="description">
          <p><%= truncate(suggestion.description, length: 100) %></p>
        </div>
        <div class="user">
          <ul class="list-inline">
            <li><small><i class="fa fa-user"></i> <%=link_to suggestion.user.username, user_path(suggestion.user)%></small></li>
            <li><small><i class="fa fa-clock-o"></i> <%= time_ago_in_words(suggestion.created_at)%> ago</small></li>
            <li><small>last updated <%= time_ago_in_words(suggestion.created_at)%></small></li>
          </ul>

        </div>
        <% if logged_in? && (suggestion.user == current_user || current_user.admin?)%>
          <div class="action">
            <%= link_to "Edit", edit_suggestion_path(suggestion), class:"btn btn-primary"%>
            <%= link_to "Delete", suggestion_path(suggestion), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-danger"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
