<h1 class="text-center"><%= @suggestion.title %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
        <p><%= simple_format(@suggestion.description) %></p>
        <div class="user">

          <ul class="list-inline">
            <li>created by <small><i class="fa fa-user"></i> <%=link_to @suggestion.user.username, user_path(@suggestion.user)%></small></li>
            <li><small><i class="fa fa-clock-o"></i> <%= time_ago_in_words(@suggestion.created_at)%> ago</small></li>
            <li><small>last updated <%= time_ago_in_words(@suggestion.created_at)%></small></li>
          </ul>

          <% if logged_in? && (current_user == @suggestion.user || current_user.admin?) %>
          <div class="action">
            <%= link_to "Edit", edit_suggestion_path(@suggestion), class:"btn btn-primary" %>
            <%= link_to "Delete", suggestions_path(@suggestion), method: :delete, data: {confirm:"Are you sure?"}, class:"btn btn-danger"%>
            <%= link_to "View All Suggestions", suggestions_path, class:"btn btn-success"%>
          </div>
    </div>

  </div>
</div>
